* {
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.header{
    width: 100%;
}

.header h1{
    font-size: 50px;
    text-align: center;
    margin: 100px;
}

.intro{
    display: flex;
    width: 80%;
    justify-content: center;
}

.table{
    display: flex;
    justify-content: flex-end;
    margin: 100px;
}