* {
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    display: block;
}

.header h1{
    font-size: 50px;
    text-align: center;
    margin: 100px;
}

section {
    display: flex;
    width: 70%;
}

.intro{
    display: flex;
    width: fit-content;
    justify-content: center;
    flex-flow: column wrap;
}

.table{
    align-self: right;
    margin: 100px;
    width: 25%;
}

.hidden{
    display: none;
}

#timer {
    font-size: 80px;
    padding: 20px;
    margin: -200px 60px;
    border: 3px solid;
    width: fit-content;
    float: right;
}
#timer::after{
    clear: both;
}